<header>
 <div class="navbar">
        <img src="images/biobrain-logo1.png" alt="BioBrain Quiz Logo" id="logo">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="#">Quizzes</a></li>
            <li><a href="#">Leaderboard</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login" class="btn-navbar">Login</a></li>
        </ul>
    </div>
</header>